<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../main.css">
<title>{{title}}</title>
<header>
  <nav>
    <ul>
      <li><img class="avatar" src="../img/components/{{user.imgOld}}" id="img" alt=""></li>
<<<<<<< HEAD
<<<<<<< HEAD
    <a href="/home">  <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
        <img id="logo" src="../img/components/logo.svg" alt=""></li></a>
      <a href="/chat"><li><img src="../img/components/chat-icon.svg" alt=""></li></a>
=======
<<<<<<< HEAD
    <a href="/home">  <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
        <img id="logo" src="../img/components/logo.svg" alt=""></li></a>
      <a href="/chat"><li><img src="../img/components/chat-icon.svg" alt=""></li></a>
=======
=======
>>>>>>> bce4b58e6b67e74a6b7f4952a9191925b6df8c09

    <a href="/home">  <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
        <img id="logo" src="../img/components/logo.svg" alt=""></li></a>
      <a href="/chat"><li><img src="../img/components/chat-icon.svg" alt=""></li></a>

<<<<<<< HEAD
>>>>>>> a75baad518b4365e2653ee23b4ece175d7a4f9f8
>>>>>>> 209b89747d294af052ee7327e7a857ca5578e0b9
=======
>>>>>>> bce4b58e6b67e74a6b7f4952a9191925b6df8c09
    </ul>
  </nav>
</header>
