<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../main.css">
<title>{{title}}</title>
<header>
  <nav>
    <ul>
      <li><img class="avatar" src="../img/components/{{user.imgOld}}" id="img" alt=""></li>
<<<<<<< HEAD
      <a href="http://localhost:3000/home">
        <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
          <img id="logo" src="../img/components/logo.svg" alt=""></li>
      </a>
      <a href="http://localhost:3000/chat">
        <li><img src="../img/components/chat-icon.svg" alt=""></li>
      </a>
=======
    <a href="/home">  <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
        <img id="logo" src="../img/components/logo.svg" alt=""></li></a>
      <a href="/chat"><li><img src="../img/components/chat-icon.svg" alt=""></li></a>
>>>>>>> ce9a02f740827a7de66375b66871a9bb2843072e
    </ul>
  </nav>
</header>