<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../main.css">
<title>{{title}}</title>
<header>
  <nav>
    <ul>
      <li><img src=" ../img/components/person-icon.svg" alt=""></li>
    <a href="">  <li><img id="baby_icon" src="../img/components/baby-icon.svg" alt="">
        <img id="logo" src="../img/components/logo.svg" alt=""></li></a>
      <li><img src="../img/components/chat-icon.svg" alt=""></li>
    </ul>
  </nav>
</header>