{{>header}}

<body class="chatID">


<h1>Search page</h1>
    <div class="form-container">
      <form action="/chatRoom">
        <label for="">Chat ID
          <input type="number" name="room" placeholder="Chat ID" required maxlength="4">
        </label>
        <button>Start chatting</button>
      </form>
    </div>
</body>

{{>footer}}