{{>header}}
<body class="editProfile">
	<h1>Edit your profile page</h1>
	<form action="/updateProfile" method="POST" class="profileForm">
					<label for="age">Age</label>
					<input type="number" name="age" id="age" required />
          <!-- <p id="ageValue"></p> -->

					<label for="location">Location</label>
					<input type="text" name="location" id="location" required />

					<label for="profession">Profession</label>
					<input type="text" name="profession" id="profession" required />

					<label for="about">About you</label>
					<textarea name="about" id="about" required></textarea>

					<input class="editProfileButton" type="submit"	value="Update profiel" required	/>
				</form>
</body>
{{>footer}}
