<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../main.css">
<title>{{title}}</title>

<section class="wrapper">
  <div class="logo">
    <img src="img/components/logo.svg" alt="logo">
  </div>

  <div class="match_photo">
    <img src="img/components/match.png" alt="">
  </div>

</section>
<section class="signin-btns">
  <a href="/register"><button type="submit" class='viewProfile'>Get started</button></a>

</section>

{{>footer}}