{{>header}}

<body class="register">



    <section>
        <form class="login" enctype="multipart/form-data">
            <h4>Login</h4>
            <label>
                Name
                <input type="text" required name="name">
            </label>

            <label>
                Password
                <input type="password" required name="password">
            </label>

            <button type="submit">Login</button>
            <p class="log-err"></p>
        </form>

        <form class="login" enctype="multipart/form-data">
            <h4>Register</h4>
            <label>
                Name
                <input type="text" required name="name">
            </label>

            <label>
                Age
                <input type="number" required name="age">
            </label>

            <label>
                Password
                <input type="password" required name="password">
            </label>

            <label for="image">
                Baby picture
                <input type="file" name="baby-img">
            </label>

            <label for="image">
                Old picture
                <input type="file" name="old-image">
            </label>

            <label>
                Location
                <input type="text" required name="location">
            </label>

            <label>
                Profession
                <input type="text" required name="profession">
            </label>

            <label>
                About
                <textarea name="about" cols="30" rows="10"></textarea>
            </label>
            <button type="submit">Register</button>
            <p class="reg-err"></p>
        </form>



    </section>

    <script>

        const loginForm = document.getElementsByTagName('form')[0];
        const loginButton = document.getElementsByTagName('button')[0];
        const loginError = document.getElementsByClassName('log-err')[0];

        const registerForm = document.getElementsByTagName('form')[1];
        const registerButton = document.getElementsByTagName('button')[1];
        const registerError = document.getElementsByClassName('reg-err')[0];

        loginButton.addEventListener('click', (e) => {
            e.preventDefault();

            const formData = new FormData(loginForm);
         
            fetch('http://localhost:3000/users/login', {
                method: 'POST',
                body: formData
            }).then((res) => {
                return res.json()
            }).then((data) => {

                if (!data.error) {
                    document.cookie = `access_token=${data.token}; max-age=86400`;
                    return window.location.href = 'http://localhost:3000/home'
                } else {
                    loginError.textContent = data.error
                }
            })
        })


        registerButton.addEventListener('click', (e) => {
            e.preventDefault();

            const formData = new FormData(registerForm);

            fetch('http://localhost:3000/user', {
                method: 'POST',
                body: formData //Send data of form to server
            }).then((res) => {
                return res.json()
            }).then((data) => {

                if (!data.error) {
                    document.cookie = `access_token=${data.token}; max-age=86400`;
                    return window.location.href = 'http://localhost:3000/home'
                } else {
                    console.log(data.error)
                }
            })
        })

    </script>
</body>
{{>footer}}