/* ---------------------------------------------------VARIABLES */
:root {
  /* COLORS */
  --mainColor: #8886c5;
  /*MAIN PURPLE COLOR*/
  --accentColor: #ffacb7;
  /*ACCENT PINK COLOR*/
  --accentColor2: #f9f9f9;
  /*ACCENT WHITE COLOR*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/**********************
    login page
**********************/

.logo {
  padding: 5em;
}

.logo,
section {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.viewProfile {
  width: 300px;
  padding: 20px;
  margin: 0.5em;
  font-size: 18px;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--accentColor2);
  border: none;
  border-radius: 3.1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.twitter {
  border-style: solid;
  border-color: var(--mainColor);
  background-color: transparent;
  color: black;
  font-weight: 300;
}

section {
  flex-direction: column;
}

/* FORM */

.register section {
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.register form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.register form h4 {
  font-size: 1.3rem;
}

.register form label {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.register form label input {
  min-height: 1.5rem;
  max-width: 10rem;
}

/**********************
    HOME
**********************/
body {
  max-width: 1200px;
  margin: 0 auto;
}

.greet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 260px;
  margin-top: 3rem;
  padding: 0 1em;
}

.greet img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header {
  padding: 1em;
  display: flex;
  align-items: center;
}

header li img {
  height: 2.5em;
  padding: 0 2em 0 2em;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 1em 0;
}

nav {
  flex: 1 0 auto;
}

li section figure img {
  height: 480px;
  width: 297px;
  border-radius: 20px;
}

#baby_icon {
  display: block;
}

li > #logo {
  display: none;
}

.baby {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* min-width: 960px; */
  margin-top: 5em;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-gap: 5em;
  position: relative;
}

/* .container li {
  position: absolute;
  bottom: 50%;
  top: 50%;
} */

/***************************************
   navbar: decline, superlike, like
***************************************/

ul section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: min-content;
  overflow: hidden;
}

ul section form {
  display: flex;
  width: auto;
  height: 200px;
  position: absolute;
  bottom: -50px;
}

ul section form > div {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--accentColor);
  align-self: flex-end;
}

ul section form input[type="submit"] {
  font-size: 1rem;
  width: 50%;
  height: 50%;
  background-image: url("img/components/heart.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

ul section form .decline input[type="submit"] {
  background-image: url("img/components/cross.svg");
}

ul section form .superlike {
  align-self: flex-start;
  position: relative;
}

ul section form .like {
  position: relative;
  left: -70px;
}

form div:first-of-type,
form div:last-of-type {
  z-index: 2;
}

ul section form .decline {
  position: relative;
  right: -70px;
}

ul section form .white-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accentColor2);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 3.9em;
  overflow: hidden;
}

.white-btn > input[type="image"] {
  height: 2.5em;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home figure {
  position: relative;
}

.card_cap {
  position: absolute;
  top: 43%;
  right: 0%;
  padding-top: 1em;
  background-color: #ffe0ac;
  font-size: 12px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.userProfession::first-letter{
  text-transform: uppercase;
}

.card_cap h3 {
  font-weight: 100;
  font-size: 11px;
}

/**********************
    SEARCHBAR
**********************/

#search {
  display: block;
  margin: 40px auto 0 auto;
  width: 50%;
  height: 4em;
  padding: 10px;
  border-radius: 3rem;
  border-color: #6886c5;
  border-width: 4px;
  border-style: solid;
}

/**********************
    MATCH
**********************/

.match_image {
  position: relative;
  padding: 3em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: var(--mainColor);
  padding-bottom: 0.8em;
  border-radius: 50%;
}

section form [input="submit"] {
  background-color: var(--accentColor);
}

section a [input="submit"] {
  border-style: solid;
  border-color: var(--accentColor);
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

section a .keepswiping {
  border-style: solid;
  border-color: var(--accentColor);
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

/**********************
    PROFILE
**********************/

article.about {
  padding-bottom: 3em;
}

article.about > p {
  font-size: 12px;
}

article h2 {
  padding-bottom: 0.5em;
  color: var(--accentColor2);
}

article:first-child {
  font-size: 14px;
}

article:last-child {
  font-size: 14px;
}

button.btn_interest {
  padding: 1em 0 1em 0;
  width: 120px;
  font-size: 12px;
  background-color: var(--accentColor2);
  color: black;
}

.chat-btn {
  display: flex;
  justify-content: center;
  background-color: var(--accentColor);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 6;
}

div.textbox {
  position: relative;
  padding-top: 20em;
  z-index: 6;
}

figure .collin_adult {
  position: relative;
  height: 560px;
}

figcaption {
  position: absolute;
  top: 20em;
}

figcaption p:first-child {
  font-size: 40px;
  font-weight: 700;
}

figcaption p:last-child {
  margin-top: 1em;
  font-style: italic;
}

.fillimage img {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.gradient {
  position: relative;
  width: 100%;
  min-height: 79vh;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 30vh;
  width: 100%;
  min-height: 69vh;
  background-color: rgb(136, 134, 197);
  z-index: 5;
  background: rgb(136, 134, 197);
  background: linear-gradient(
    0deg,
    rgba(136, 134, 197) 50%,
    rgba(136, 134, 197, 0) 100%
  );
  opacity: 0.95;
}

.profilecap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: var(--accentColor2);
}

.textbox,
figcaption {
  position: relative;
  padding: 2em;
  z-index: 6;
}

@media screen and (min-width: 700px) {
  li > #logo {
    display: block;
    height: 4rem;
  }

  #baby_icon {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  li > #logo {
    display: block;
    height: 4rem;
  }

  /* profile */
  div.textbox {
    padding-top: 0;
    margin-left: 50%;
    margin-top: 5em;
    padding: 2em;
    box-sizing: border-box;
  }

  div.textbox h2 {
    color: var(--mainColor);
  }

  div.textbox p {
    color: black;
  }

  .profilecap {
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
  }

  .fillimage img {
    width: 50%;
    height: 100vh;
  }

  .gradient figure {
    width: 100%;
    position: absolute;
  }

  .gradient::before {
    top: 10vh;
  }
}
